.candidate {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    flex-direction: row;
    margin-right: 5px;
    width: 300px;
}